<div class="row h-25">
    <div class="mini-map sidebar-element">
        <app-mini-map></app-mini-map>
    </div>
</div>
<div class="row h-25">
    <div class="main-info sidebar-element">
        <app-main-info></app-main-info>
    </div>
</div>
<div class="row h-25">
    <div class="main-controls sidebar-element">
        <app-main-controls></app-main-controls>
    </div>
</div>
<div class="row h-25">
    <div class="active-unit sidebar-element">
        <app-active-unit></app-active-unit>
    </div>
</div>