<div class="container-fluid">
    <div class="row">
        <div class="col-lg">
            <div class="mini-map">
                <app-mini-map></app-mini-map>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <app-main-info></app-main-info>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <app-main-controls></app-main-controls>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <app-active-unit></app-active-unit>
        </div>
    </div>
</div>